.dashboard {
  width: 50%;
  margin: 20px auto;
  background-color: white;
  -webkit-border-radius: 5px;
  padding: 10px;
}

#greeting { 
  float: left; 
  margin-top: 5px;
}

#settings-button { float: right; }

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  border-bottom-color: #ddd;
}

input.payer-accepted { float: left; margin-right: 10px; }

input[type='text'].service-code-search {
  margin-left: -25px;
  background: transparent;
  width: 200px;
}

.patient-check .icon-search { margin-left: 10px; }
.patient-summary { cursor: pointer; }

tr.patient-summary td:last-child { width: 200px; }
th#eligible-id { width: 160px; }