body {
  font-family: Helvetica, sans-serif;
  background: url(../assets/bg.png);
}

.clear {
  clear: both;
}

tr { 
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

tbody tr:last-child, thead tr {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}